# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE and tooling
.vs/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Rider
.idea/

# Gradle
.gradle/

# Crash reports
sysinfo.txt

# Unity asset database cache
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
*.svd

# Build results
*.apk
*.aab
